{% load static %}
<section class="form-1">
    <div class="container">
        <div class="row">
            <div class="text">
                <h3>Узнайте первыми о новых
                    программах и скидках на них</h3>
                <p>Подпишитесь на рассылку новостей Уральской Академии Коучинга</p>
            </div>
            <form action="#" method="post">
                <div class="form">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button class="buttons">
                    <div class="subscribe">
                        <span id="submit" class="btn-subscribe btn-orange">Подписаться</span>
                    </div>
                </button>
            </form>
        </div>
    </div>
</section>