<section class="callback">
    <div class="container">
        <div class="title">
            <p>Получите консультацию, если</p>
        </div>
        <div class="row body-main">
            <div class="col-lg-6 col-sm-12">
                <div class="text">
                    <h2>Остались вопросы</h2>
                    <p>Наш консультант поможет с выбором курса и ответит на все вопросы о процессе обучения.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="form-inputs">
            <form action="#" class="row form-body">
                <div class="col-lg-3 col-sm-12">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <input type="text" placeholder="Телефон" value="+7">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <input type="text" placeholder="Элестронная почта">
                </div>
                <div class="col-lg-3 col-sm-12">
                    <button type="button">Получить конслультацию</button>
                    <p>Нажимая на кнопку принимаю условия <span>политики конфиденциальности</span></p>
                </div>
            </form>
        </div>
    </div>
</section>