{% load static %}
<footer>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-12 list01">
                    <div class="logo-footer">
                        <p>ERICKSON COACHING INTERNATIONAL</p>
                        <div class="img-footer">
                            <img src="{% static 'dev/img/footer/Erickson-Perm-02.png' %}">
                            <img src="{% static 'dev/img/footer/icf.png' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 list12 ">
                    <div class="col-lg-6 col-md-6 list1">
                        <ul>
                            <li>
                                <a href="/timetable">Расписание</a>
                            </li>
                            <li>
                                <a href="/article">Статьи</a>
                            </li>
                            <li>
                                <a href="/about">О компании</a>
                            </li>
                            <li>
                                <a href="/contacts">Контакты</a></li>
                            <li>
                                <a href="/coaches">Тренеры</a></li>
                            <li>
                                <a href="#">Коуч-сессии</a></li>
                            <li>
                                <a href="/feed-list">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 list2">
                        <ul>
                            <li><a href="#">Обучение коучингу</a></li>
                            <li><a href="#">Мастер-классы</a></li>
                            <li><a href="#">Для бизнеса</a></li>
                            <li><a href="/games">Транформационные игры</a></li>
                            <li><a href="#">Мастер-классы</a></li>
                            <li><a href="#">Благотворительность</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 list3">
                        <div class="col-md-6 phone">
                            <p>Наши телефоны:</p>
                            <a href="tel:89272489980"><p>+7 (927) <span>248-99-80</span></p></a>
                            <a href="tel:89173908986"><p>+7 (917) <span>390-89-86</span></p></a>
                        </div>
                        <div class="col-md-6 social">
                            <p>Мы в соц. сетях:</p>
                            <div class="social-img">
                                <a href="https://instagram.com"><img src="{% static 'dev/img/main/footer/inst.png' %}"></a>
{#                                <a href="https://vk.com"><img src="{% static 'dev/img/main/footer/vk.png' %}"></a>#}
                                <a href="https://facebook.com"><img src="{% static 'dev/img/main/footer/fb.png' %}"></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="s-row">
                <p>Проводит обучающие программы в области коучинга, основанные на технологиях достижения результата и
                    развития</p>
                <p><a href="https://www.divier.ru/" target="_blank">Создание сайта</a> ДиВиЕР</p>
            </div>
        </div>
    </div>
</footer>