{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'dev/img/main/logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">Расписание</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-lcouch" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Обучение коучингу
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/coaching">О коучинге</a>
                            <a class="dropdown-item" href="#">Обучние коучингу. <br> Базовые программы</a>
                            <a class="dropdown-item" href="#">Обучние коучингу. <br> Спецкурсы</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-fbusines" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Для себя
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Коучинг для родителей</a>
                            <a class="dropdown-item" href="#">Коучинг для развития и личностного роста</a>
                            <a class="dropdown-item" href="#">Индивидуальная коучинговая сессия</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-fbusines" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Для бизнеса
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Корпоративные программы</a>
                            <a class="dropdown-item" href="#">Открытые программы</a>
                            <a class="dropdown-item" href="#">Подбор командного и индивидуального коуча</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/games">Трансформационные игры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Мастер-классы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Благотворительность</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>