{% load static %}
<section class="carousel-page">
    <div class="container">
        <div class="row">
            <div class="text">
                <h2>Отзывы наших выпускников</h2>
                <p>Что о нас думают наши выпускники</p>
            </div>
            <div id="feedback-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for feed in feeds %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <div class="carousel-item__inner">
                                <img src="{{ feed.img_main.url }}" alt="{{ feed.img_main_alt }}">
                                <p>{{ feed.description_short }}</p>
                            </div>
                        </div>
                    {% endfor %}
{#                    <div class="carousel-item active">#}
{#                        <div class="carousel-item__inner">#}
{#                            <img src="{{ feed.img_main.url }}" alt="{{ feed.img_main_alt }}">#}
{#                            <p>{{ feed.description_short }}</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <a class="carousel-control-prev" href="#feedback-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#feedback-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>