{% load static %}
<section class="representation">
    <div class="container">
        <div class="row">
            <div class="f-row">
                <img src="{% static 'dev/img/main/exclamation-mark-in-a-circle.png' %}" alt="representation">
                <h2>Представительство</h2>
            </div>
        </div>
        <div class="row">
            <div class="s-row">
                <h3>Международного Эриксоновского университета</h3>
                <p>коучинга, основанного в <b>1980 году</b></p>
            </div>
        </div>
    </div>
</section>