{% extends "base/base.html" %}
{% load static %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <section class="breadcr">
        <div class="breadcr-container container">
            <p id="breadcrumbs">
            <span>
                <span>
                    <a href="/">Главная</a>
                    /
                    <span class="breadcrumb_last" aria-current="page">Новости</span>

                </span>
            </span>
            </p>
        </div>
    </section>

    {% include 'main/components/news.html' %}

    {% include 'base/form.html' %}

{% endblock %}
