{% extends "base/base.html" %}
{% load static %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="breadcr">
    <div class="breadcr-container container">
        <p id="breadcrumbs">
            <span>
                <span>
                    <a href="http://harmonyhere.ru/">Главная</a>
                    /
                    <span class="breadcrumb_last" aria-current="page">Введение в коучинг</span>
                </span>
            </span>
        </p>
    </div>
</section>

<section class="enter-coaching programs-block">
    <div class="container">
        <h1>Введение в коучинг</h1>
    </div>

    <div class="mc__icf">
        <div class="container">
            <div class="mc-icf__inner">
                <div class="row">
                    <div class="col-md-3 column-img">
                        <img src="{% static 'dev/img/icf.png' %}" alt="icf">
                    </div>
                    <div class="col-md-9 column-text">
                        <p>«Введение в коучинг» является составной частью большой программы, аккредитованной ACTP в
                            International Coach Federation (ICF) / Международной Федерации Коучинга от Erickson Coaching
                            International (Канада, г. Ванкувер).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__adv">
        <div class="container">
            <div class="mc-adv__inner">
                <h5>Преимущества программы «Управленческий коучинг» Erickson International:</h5>
                <p><strong>1.</strong> Программа аккредитована как ACTP (Accredited Coach Training Program -
                    Акредитованная программа подготовки коучей) в ICF (International Coaching Federation - Международная
                    Ассоциация коучей).</p>
                <p><strong>2.</strong> Тренера имеют международную аккредитацию.</p>
                <p><strong>3.</strong> Программа проходит на 5 континентах, в 85 странах, в 102 городах.</p>
                <p><strong>4.</strong> По результата прохождения Программы выпускники получают два вида Международных
                    сертификатов от Ericson International (Международный Эриксоновский Университет).</p>
                <p><strong>5.</strong> Выпускники Программы сотрудничают с крупными корпорациями по всему миру как
                    консультанты и как преподаватели коучинга.</p>

                <h6>Коучинг в управлении представляет собой содействие в совершенствовании лидерских качеств
                    руководителя, а программа управленческого коучинга предназначена для участников, настроенных на
                    результативность деятельности при обозначении сложных задач и соответствию корпоративным
                    ценностям.</h6>
            </div>
        </div>
    </div>

    <div class="mc__for-whom">
        <div class="container">
            <div class="for-whom__inner">
                <h3>Для кого программа «Введение в коучинг»:</h3>
                <div class="row">
                    <div class="col-12 еуче-сутеук">
                        <i class="material-icons">person</i>
                        <p><strong>Руководителя, Предпринимателя, Психолога, Тренера или Консультанта или
                            «новичка»!</strong><br>Для тех, кто хочет узнать, что такое коучинг и открыть для себя
                            эффективность его применения.;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__results">
        <div class="container">
            <div class="results__inner">
                <h3>Результаты прохождения программы:</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Практический синтез полученной информации в процессе дискуссии с целью формирования точек
                            индивидуального роста.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Изучение техники коучинга и возможности их применения в своей жизни и в работе.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>Познание своих собственных коучинговых способностей в результате коротких бесед и
                            практических</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__author">
        <div class="container">
            <div class="author__inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ma-photo" style="background-image: url('{% static 'dev/img/main/cto/cto-img.png' %}')"></div>
                    </div>
                    <div class="col-lg-9">
                        <h5>Автор программы:</h5>
                        <p>Президент Международного Эриксоновского Университета. Доктор психологии, всемирно известный
                            тренер Мэрилин Аткинсон, автор многочисленных научных работ по психологии, коучингу и
                            квантовой физики.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__themes-title">
        <div class="container">
            <div class="themes-title__inner">
                <h3>Программа представлена <br>11 вопросами.</h3>
                <p>В рамках однодневной программы можно попробовать себя в роли коуча и клиента, задавая важные для себя
                    вопросы, практиковаться в умении слушать и умении задавать эффективные вопросы</p>
            </div>
        </div>
    </div>

    <div class="mc__themes">
        <div class="container">
            <div class="themes__item">
                <h4>Вопрос 1:</h4>
                <h5>Причины популярности коучинга как стиля руководства;</h5>
            </div>

            <div class="themes__item">
                <h4>Вопрос 2:</h4>
                <h5>базовые навыки и основные этапы коучинга;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 3:</h4>
                <h5>техника создания доверительных отношений;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 4:</h4>
                <h5>коучинг в планировании;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 5:</h4>
                <h5>эффективные вопросы как инструмент коучинга;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 6:</h4>
                <h5>специфика отношений коуч-руководителя и подчиненного;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 7:</h4>
                <h5>основные техники коучинга;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 8:</h4>
                <h5>методы создания плана достижений в формате коучинга;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 9:</h4>
                <h5>конечный результат коуч-управления;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 10:</h4>
                <h5>новые возможности для личного лидерства;</h5>
            </div>
            <div class="themes__item">
                <h4>Вопрос 11:</h4>
                <h5>мечты и реальность, взгляд через коучинг.</h5>
            </div>
        </div>
    </div>

    <div class="mc__last">
        <div class="container">
            <div class="mc__last__inner">
                <h5>Система обучения</h5>
                <p>Программа представлена в формате онлайн встреч в Zoom . Правило подачи информации — практики больше,
                    чем теории. Без домашних заданий. Живое общение я тренерами и другими слушателями в закрытой группе
                    для
                    обмена мнениями и обсуждения лекционного материала.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}

