{% extends "base/base.html" %}
{% load static %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="breadcr">
    <div class="breadcr-container container">
        <p id="breadcrumbs">
            <span>
                <span>
                    <a href="http://harmonyhere.ru/">Главная</a>
                    /
                    <span class="breadcrumb_last" aria-current="page">Наука и искусство коучинга</span>
                </span>
            </span>
        </p>
    </div>
</section>

<section class="programm1-page programs-block">
    <div class="container">

        <div class="section-header">
            <div class="row">
                <div class="col">
                    <h1>Наука и искусство коучинга</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        - это международная аккредитованная ACTP программа в International Coach Federation (ICF) /
                        Международной Федерации Коучинга от Erickson Coaching International (Канада, г. Ванкувер).
                    </p>
                </div>
            </div>
        </div>

        <div class="row key-features">
            <div class="col-12">
                <h3>Преимущества программы «Наука и искусство коучинга» Erickson International:</h3>
                <div class="text-wrapper">
                    <ol>
                        <li>Программа аккредитована как ACTP (Accredited Coach Training Program - Акредитованная
                            программа подготовки коучей) в ICF (
                            International Coaching Federation - Международная Ассоциация коучей).
                        </li>
                        <li>Тренера имеют международную аккредитацию.
                        </li>
                        <li><strong>Программа имеет обширную географию</strong> – проходит на 5 континентах, в 85
                            странах, в 102 городах.
                        </li>
                        <li>По результатам прохождения Программы выпускники получают два вида Международных сертификатов
                            от Ericson International (Международный Эриксоновский Университет).
                        </li>
                        <li>Выпускники Программы сотрудничают с крупными корпорациями по всему миру как консультанты и
                            как преподаватели коучинга.
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row for-whom-row">
            <div class="col-12">
                <h3>Для кого программа <strong>«Наука и искусство коучинга»:</strong></h3>
            </div>
            <div class="col-12 for-whom">
                <div class="outer-wrapper">
                    <div class="row" style="padding-bottom: 20px">
                        <div class="col-xs-12 col-md-6 direction-num">
                            <div>
                                <i class="material-icons">person</i>
                            </div>
                            <div class="text"><strong>Руководителя, ориентированного на достижение более высоких
                                результатов деятельности</strong>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 direction-num">
                            <div>
                                <i class="material-icons">person</i>
                            </div>
                            <div class="text"><strong>Предпринимателя</strong>, желающего улучшить качество результатов
                                своего бизнеса
                            </div>
                        </div>
                    </div>
                    <div class="new-line">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><i class="material-icons">person</i></div>
                                <div class="text"><strong>Управляющего по кадрам (HR)</strong>, стремящегося к повышению
                                    своей квалификации в подходах и методах набора персонала и работы с ним
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><i class="material-icons">person</i></div>
                                <div class="text"><strong>Психолога, Тренера или Консультанта</strong>,
                                    заинтересованного в обучении новым техникам и инструментам взаимодействия с людьми,
                                    в первую очередь руководящего состава
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 direction-num">
                                <div><i class="material-icons">person</i></div>
                                <div class="text">«Новичка», который хочет <strong>получить новую востребованную на
                                    рынке профессию и</strong> планирует практику коучинга на международном уровне
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mc__results">
            <div class="container">
                <div class="results__inner">
                    <h3>Результаты прохождения программы:</h3>
                    <hr>
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Для Руководителя</h5>
                            <p>раскрытие собственных ресурсов руководства и управления, развитие способностей
                                продуктивно задавать вопросы и вдохновлять команду в достижении цели</p>
                        </div>
                        <div class="col-lg-6">
                            <h5>Для Управляющего по кадрам (HR)</h5>
                            <p>развитие профессиональных навыком с умением задавать вопросы и слушать в процессе подбора
                                кадров и работы с ними;</p>
                        </div>
                        <div class="col-lg-6">
                            <h5>Для Предпринимателя</h5>
                            <p>найти собственные «точки роста», создать вдохновляющее видение собственного бизнеса,
                                которые позволят выйти на новые рынки с другим уровнем дохода;</p>
                        </div>

                        <div class="col-lg-6">
                            <h5>Для всех участников Программы</h5>
                            <p>получение новой и современной профессии, которая реально востребована на рынке, а также
                                освоение технологий коучинга для обретения гармонии и баланса во всех областях
                                жизни.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mc__author">
            <div class="container">
                <div class="author__inner">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ma-photo" style="background-image: url('{% static 'dev/img/main/cto/cto-img.png' %}')"></div>
                        </div>
                        <div class="col-lg-9">
                            <h5>Автор программы:</h5>
                            <p>Президент Международного Эриксоновского Университета. Доктор психологии, всемирно
                                известный
                                тренер Мэрилин Аткинсон, автор многочисленных научных работ по психологии, коучингу и
                                квантовой физики.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mc__themes-title">
            <div class="container">
                <div class="themes-title__inner">
                    <h3>Программа состоит из 4 модулей, каждый из которых рассчитан на 4 дня.</h3>
                    <p>Уникальное построение модулей предполагает освоение общих техник коучинга, постановку и решение
                        своих индивидуальных задач, а также индивидуальную работу с тренером для каждого участника
                        Программы.</p>
                    <p>Для каждого модуля обозначена основная тема, раскрыть которую помогает определяющий вопрос.</p>
                </div>
            </div>
        </div>

        <div class="mc__themes">
            <div class="container">
                <div class="themes__item">
                    <h4>Модуль 1</h4>
                    <h6>Вдохновение. Основные инструменты коучинга</h6>
                    <h5><span>Основная тема:</span> раскрытие понятия и принципов осуществления коучинга</h5>
                    <h5><span>Определяющий вопрос:</span> что Вы хотите?</h5>
                    <hr>

                    <p>Для получения ответа на поставленный вопрос мы разберемся с основами процесса коучинга, исследуем
                        его базовые понятия и инструменты работы коуча с клиентами и сотрудниками.</p>
                    <p>Управленческие процессы и принятие по ним решений невозможно без изучения процессов, которые
                        протекают в человеческом мозге. Этот вопрос также включен в базовый модуль программы.</p>
                    <p>Необходимым блоком в данном разделе программы является обозначение подходов коучинга,
                        использование которых в итоге помогают достигнуть более высокого и комфортного уровня жизни.</p>

                    <h5>По результатам работы первого модуля Вы сможете:</h5>

                    <ul>
                        <li><span>выстроить коуч-сессию в нужном формате;</span></li>
                        <li><span>создать у клиента и сотрудника осознание и понимание целей;</span></li>
                        <li><span>обозначить  понимание цели так, чтобы достижение их было гарантировано;</span></li>
                        <li><span>формулировать вопросы открыто и продуктивно;</span></li>
                        <li><span>построить доверительный контакт с клиентами и сотрудниками;</span></li>
                        <li><span>найти инструменты управления мотивациями и развития преданности ценностям;</span></li>
                        <li>
                            <span>создать атмосферу поощрения клиентов и сотрудников к обратной связи и самоанализу.</span>
                        </li>
                    </ul>
                </div>

                <div class="themes__item">
                    <h4>Модуль 2</h4>
                    <h6>Внедрение. Творчество при поиске решений</h6>
                    <h5><span>Основная тема:</span> изучение основных этапов разработки и внедрения проектов</h5>
                    <h5><span>Определяющий вопрос:</span> как вы можете достичь цели? </h5>
                    <hr>

                    <p>В процессе работы во втором модуле исследуются инструменты планирования процесса реализации
                        проектов, проблемы определения приоритетных задач, схемы управления временем, а также
                        возможности раскрытия творческого потенциала при формировании тех или иных стратегий.</p>

                    <h5>По результатам работы первого модуля Вы сможете:</h5>

                    <ul>
                        <li><span>разрабатывать эффективные и высококачественные планы действия при соблюдении правила наличия свободы и гибкости;</span>
                        </li>
                        <li><span>выстраивать стратегии реализации творческого потенциала в процессе реализации запланированных задач;</span>
                        </li>
                        <li><span>взаимодействовать  в соответствии с правилами и инструментами коучинга с клиентами и сотрудниками по их запросам;</span>
                        </li>
                        <li><span>продуктивно управлять как своими ресурсами в процессе реализации проектов, так и помогать в этом клиентам;</span>
                        </li>
                        <li><span>использовать техники и технологии раскрытия глубинных знаний и потребностей клиентов и сотрудников.</span>
                        </li>
                    </ul>
                </div>

                <div class="themes__item">
                    <h4>Модуль 3</h4>
                    <h6>Приверженность. Коучинг глубинных ценностей.</h6>
                    <h5><span>Основная тема:</span> исследование индивидуальных и командных ценностей</h5>
                    <h5><span>Определяющий вопрос:</span> зачем и почему это важно?</h5>
                    <hr>

                    <p>Ценности как один из основных двигателей любого процесса делает его действительно продуктивным и
                        наполненным смысла. В процессе достижения поставленных целей очень важно не только
                        индивидуальная осознанность истинных, не лежащих на поверхности ценностей, но и помощь в этом
                        осознании другим. </p>
                    <p>Ответить на основной вопрос этого раздела поможет исследование спиральной Динамики Клэра Грейвза
                        об эволюции ценностей людей, организаций и общества.</p>

                    <h5>По результатам работы первого модуля Вы сможете:</h5>

                    <ul>
                        <li><span>организовывать коуч-сессии, которые посвящены развитию ценностей, определению приверженности целям;</span>
                        </li>
                        <li><span>проводить совещания в коллективе, принимая во внимание особенные ценности каждого участника;</span>
                        </li>
                        <li><span>исследовать мотивации, лежащие в основе собственных действий и шагов сотрудников и клиентов;</span>
                        </li>
                        <li><span>использовать инструменты и практики понимания людьми их глубинных ценностей;</span>
                        </li>
                        <li><span>выявлять схемы, которые мешают достичь необходимый коммуникационный эффект и использовать специальные методы работы с имеющимися блоками.</span>
                        </li>
                    </ul>
                </div>

                <div class="themes__item">
                    <h4>Модуль 4</h4>
                    <h6>Интеграция мастерства. Искусство завершать проекты.</h6>
                    <h5><span>Основная тема:</span> техника завершения проектов</h5>
                    <h5><span>Определяющий вопрос:</span> как Вы поймете, что достигли цели?</h5>
                    <hr>

                    <p>Заключительный модуль программы предоставит возможность объединить общие коучинговые технологии с
                        инструментами профессионального тренерства.</p>
                    <p>Итоговый модуль — это подведение итогов, где продемонстрирована экспресс — диагностика работы с
                        клиентом, эффективность такой коммуникации с учетом использования техник
                        стрессоустойчивости. </p>

                    <h5>По результатам работы первого модуля Вы сможете:</h5>

                    <ul>
                        <li><span>эффективно использовать набор знаний и умений собственного ресурсного состояния и способных помогать в достижении такого состояния другим;</span>
                        </li>
                        <li><span>строить продуктивные отношения и связи с клиентами и сотрудниками различных психологических и интеллектуальных типов;</span>
                        </li>
                        <li><span>проводить экспересс-диагностику проведения интервью по оценке компетентности и уровня развития персонала, а также по прогнозу поведения отдельных личностей и команд в целом;</span>
                        </li>
                        <li><span>разрабатывать и формировать карту успеха как для себя, так и для клиентов и сотрудников;</span>
                        </li>
                        <li><span>завершать проекты в соответствии с поставленными задачами, использованными техниками и методиками с эффективным подведением итогов.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mc__last">
            <div class="container">
                <div class="mc__last__inner">
                    <h5>Система обучения</h5>
                    <p>Программа представлена в формате онлайн встреч в Zoom . Правило подачи информации — практики
                        больше,
                        чем теории. Без домашних заданий. Живое общение я тренерами и другими слушателями в закрытой
                        группе для
                        обмена мнениями и обсуждения лекционного материала.</p>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
