{% extends "base/base.html" %}
{% load static %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="breadcr">
    <div class="breadcr-container container">
        <p id="breadcrumbs">
            <span>
                <span>
                    <a href="/">Главная</a>
                    /
                    <a href="/programs">Программы</a>
                    /
                    <span class="breadcrumb_last" aria-current="page">Командный коучинг</span>
                </span>
            </span>
        </p>
    </div>
</section>

<section class="team-coaching programs-block">
    <div class="container">
        <h1>Командный коучинг</h1>
    </div>

    <div class="mc__effective">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 column-img">
                    <img src="{% static 'dev/img/coach1.png' %}" alt="team-coaching">
                </div>
                <div class="col-lg-8 column-text flex-column justify-content-center">
                    <p class="">Управление как бизнес процесс не может быть сосредоточено на отдельном человеке, какими
                        бы он не
                        обладал способностями и талантами. Цель управления — это мотивация группы людей на достижение
                        поставленной цели. При успешной мотивации группа людей превращается в Команду, которой под силу
                        выполнение сложных задач и достижение высоких результатов.</p>
                    <p class="mt-3">Умение тренировать командное мышление — задача командного коучинга.Что лежит в
                        основе эффективной
                        команды? Как можно создать такую команду? Может ли команда быть ориентирована на достижение
                        единой цели и совместно ее реализовать? Эти и другие вопросы составляют основу предлагаемой
                        программы.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__icf">
        <div class="container">
            <div class="mc-icf__inner">
                <div class="row">
                    <div class="col-md-3 column-img">
                        <img src="{% static 'dev/img/icf.png' %}" alt="icf">
                    </div>
                    <div class="col-md-9 column-text">
                        <p>«Командный коучинг» является составной частью большой программы, аккредитованной ACTP в
                            International Coach Federation (ICF) / Международной Федерации Коучинга от Erickson Coaching
                            International (Канада, г. Ванкувер).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__adv">
        <div class="container">
            <div class="mc-adv__inner">
                <h5>Преимущества программы «Командный коучинг» Erickson International:</h5>
                <p><strong>1.</strong> Программа аккредитована как ACTP (Accredited Coach Training Program -
                    Акредитованная программа подготовки коучей) в ICF (
                    International Coaching Federation - Международная Ассоциация коучей).</p>
                <p><strong>2.</strong> Тренера имеют международную аккредитацию.</p>
                <p><strong>3.</strong> Программа проходит на 5 континентах, в 85 странах, в 102 городах.</p>
                <p><strong>4.</strong> По результата прохождения Программы выпускники получают два вида Международных
                    сертификатов от Ericson International (Международный Эриксоновский Университет).</p>
                <p><strong>5.</strong> Выпускники Программы сотрудничают с крупными корпорациями по всему миру как
                    консультанты и как преподаватели коучинга.</p>

                <h6>Коучинг в управлении представляет собой содействие в совершенствовании лидерских качеств
                    руководителя, а программа управленческого коучинга предназначена для участников, настроенных на
                    результативность деятельности при обозначении сложных задач и соответствию корпоративным
                    ценностям.</h6>
            </div>
        </div>
    </div>

    <div class="mc__for-whom">
        <div class="container">
            <div class="for-whom__inner">
                <h3>Для кого программа «Командный коучинг»:</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Руководителя</strong> нацеленного на формирование команды единомышленников,
                            деятельность которой увеличит степень эффективности получаемого результата;</p>
                    </div>
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Директоров отделов и департаментов</strong>, перед которыми поставлена цель
                            реализации проекта или производственной идеи;</p>
                    </div>
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Психолога, Тренера или Консультанта</strong>, заинтересованного в обучении новым
                            техникам и инструментам взаимодействия с людьми, в первую очередь с руководящим составом;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__results">
        <div class="container">
            <div class="results__inner">
                <h3>Результаты прохождения программы:</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Для Руководителя</h5>
                        <p>получение опыта повышения активности и мотивации сотрудников в построении мобильных паттернов
                            групп, организаций и команд через развитие инновационного мышления</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>Для Директоров отделов и департаментов</h5>
                        <p>изучение новых методов управления командами в случае отдельно поставленной задачи с
                            применением практических инструментов вовлечения сотрудников в работу</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>Для Психолога, Тренера или Консультанта</h5>
                        <p>приобретение знаний по расстановке приоритетов и оптимизации при использовании человеческих
                            ресурсов, а также получение знаний и умений, позволяющих сформировать совместное видение и
                            разработку плана действий</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>Для всех участников Программы</h5>
                        <p>улучшение качества работы с собственными ресурсами и повышение личной продуктивности в
                            процессе улучшения результатов работы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__author">
        <div class="container">
            <div class="author__inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ma-photo" style="background-image: url('{% static 'dev/img/main/cto/cto-img.png' %}')"></div>
                    </div>
                    <div class="col-lg-9">
                        <h5>Автор программы:</h5>
                        <p>Президент Международного Эриксоновского Университета. Доктор психологии, всемирно известный
                            тренер Мэрилин Аткинсон, автор многочисленных научных работ по психологии, коучингу и
                            квантовой физики.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__themes-title">
        <div class="container">
            <div class="themes-title__inner">
                <h3>Программа представлена <br>7 темами.</h3>
                <p>Уникальное построение занятий предполагает освоение техник командного коучинга, обозначение и
                    нахождения решения конкретных задач, а также индивидуальную работу с тренером для каждого участника
                    Программы.</p>
            </div>
        </div>
    </div>

    <div class="mc__themes">
        <div class="container">
            <div class="themes__item">
                <h4>Тема 1</h4>
                <h6>Введение в тренинг, Управление проектами и коучинг в современной организации.</h6>
                <ul>
                    <li><span>значимость командной работы и процесс фасилитации;</span></li>
                    <li><span>достижение эффекта резкого подьема результативности через командный интеллект и командный разум;</span>
                    </li>
                    <li><span>виды командного управления.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 2</h4>
                <h6>Техника принятия командных решений</h6>
                <ul>
                    <li><span>отличия группы и команды;</span>
                    </li>
                    <li><span>преимущества и недостатки различных стилей руководства;</span>
                    </li>
                    <li><span>способы ускорения принятия наиболее эффективного решения;</span></li>
                    <li><span>диагностика мотивации в команде с помощью 12 вопросов Gallup International.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 3</h4>
                <h6>Как ставить командные цели</h6>
                <ul>
                    <li><span>показатели эффективности при формулировки целей;</span>
                    </li>
                    <li><span>способы распределения приоритетов;</span>
                    </li>
                    <li><span>выявление различных типов целей (позитивные, подконтрольные, экологичные и  SMART цели) для повышения качества выполняемой работы;</span>
                    </li>
                    <li><span>разработка командного договора на встречу и на реализацию проекта;</span></li>
                    <li><span>стадии создания плана проекта: вдохновение, внедрение, мотивирование и завершение.</span>
                    </li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 4</h4>
                <h6>Принципы организации проектной команды: что используют лучшие менеджеры при работе в проектной
                    команде?</h6>
                <ul>
                    <li><span>базовые правила успешной проектной работы;</span>
                    </li>
                    <li><span>способы внедрения изменений в проектную работу;</span>
                    </li>
                    <li><span>приемы вовлечения людей в то, что они делают и в то, что хотят;</span></li>
                    <li>
                        <span>как научиться получить вдохновение в рамках желаемого результата.</span>
                    </li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 5</h4>
                <h6>Навыки построения отношений</h6>
                <ul>
                    <li>
                        <span>умение построение контакта с определенной мерой доверия и взаимопонимания (раппорт);</span>
                    </li>
                    <li><span>возможности возобновления доверия (восстановление раппорта);</span></li>
                    <li><span>смягчение и сокращение влияния трудностей и интриг в коллективе.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 6</h4>
                <h6>Коучинг команд.Как задавать великие вопросы</h6>
                <ul>
                    <li><span>в чем смысл поощряющего диалога?</span></li>
                    <li><span>о чем задать вопрос группе для ее же максимальной пользы;</span>
                    </li>
                    <li><span>структура формирования вопросов по по логическим уровням;</span>
                    </li>
                    <li><span>основные вопросы, которые мотивируют людей;</span>
                    </li>
                    <li>
                        <span>способы направления сотрудников к четким целям через правильное построение вопросов;</span>
                    </li>
                    <li><span>создание мыслительных карт в стратегии эффективного лидерства.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 7</h4>
                <h6>Вопросы по нейрологическим уровням</h6>
                <ul>
                    <li><span>структура работы человеческого мозга и вопросы ей соответствующие;</span></li>
                    <li>
                        <span>построение системы вопросов согласно детального плана действия;</span>
                    </li>
                    <li><span>принципы системности и баланса для увеличения понимания навыков лидерства;</span></li>
                    <li><span>роль «большой картины» в усилении понимания стратегий.</span></li>
                </ul>
            </div>


            <div class="themes__item">
                <h4>Тема 8</h4>
                <h6>Стадии развития команд</h6>
                <ul>
                    <li><span>классификация стадий развития команд (тренинг, тестирование, коучинг, партнерство);</span>
                    </li>
                    <li><span>способы достижения поставленной цели на каждой стадии;</span></li>
                    <li><span>определение наиболее значимого стиля руководства на стадиях развития команд.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 9</h4>
                <h6>Повышение качества командного диалога</h6>
                <ul>
                    <li><span>принципы формирования командного диалога;</span></li>
                    <li><span>обозначение роли лидера в команде;</span></li>
                    <li><span>определение функций команды  в виде стадий проведения коучинга.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 10</h4>
                <h6>Фасилитация команд – управление совещанием</h6>
                <ul>
                    <li><span>организация совещания руководителем для повышения продуктивности работы команды;</span>
                    </li>
                    <li><span>основополагающие моменты при  составлении плана совещания и в процессе его работы;</span>
                    </li>
                    <li><span>способы проведения эффективного Мозгового Штурма как основополагающего метода командного диалога;</span>
                    </li>
                    <li><span>понятие Хартии команды и методы ее создания.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 11</h4>
                <h6>Создание командной истории</h6>
                <ul>
                    <li><span>сравнения для вдохновения;</span></li>
                    <li><span>цель создания истории команды;</span></li>
                    <li><span>лучший опыт взаимодействия в команде;</span></li>
                    <li><span>формулировка командной истории для исследуемой проектной команды.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 12</h4>
                <h6>Формирование ценностей команды</h6>
                <ul>
                    <li><span>повышение мотивации с использованием инструмента «Колесо ценностей”;</span></li>
                    <li><span>самые значительны ценности команды;</span></li>
                    <li><span>возможности объединения индивидуальных ценностей участников проекта;</span></li>
                    <li><span>разработка плана действия команды на основополагающих ценностях.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 13</h4>
                <h6>Формирование миссии</h6>
                <ul>
                    <li><span>подходы и методы формирования миссии;</span></li>
                    <li><span>основные характеристики миссии;</span></li>
                    <li><span>сущность вдохновляющей миссии;</span></li>
                    <li><span>понятие видения;</span></li>
                    <li><span>командное видение и его роль в усилении миссии.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 14</h4>
                <h6>Стратегия разработки проектов по методу Уолта Диснея</h6>
                <ul>
                    <li><span>три уровня мышления;</span></li>
                    <li><span>шаги планирования проекта (Мечтатель, Реалист, Критик);</span></li>
                    <li><span>аспекты и содержание каждой стадии планирования;</span></li>
                    <li><span>роль руководмтеля в сопровождении команды по этапам планирования.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 15</h4>
                <h6>Разработка проекта в соответствии со стадиями развития</h6>
                <ul>
                    <li><span>стадии развития мастерства;</span></li>
                    <li><span>процесс обучения людей;</span></li>
                    <li><span>характеристики стадий обучения;</span></li>
                    <li><span>роль руководителя на различных стадиях (формирование, концентрация усилий, медленный рост, быстрый рост, стабильность, прорыв, мастерство);</span>
                    </li>
                    <li><span>основные трудности  и ключевые аспекты каждой стадии развития проекта.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 16</h4>
                <h6>Составление проекта. Анализ рисков</h6>
                <ul>
                    <li><span>действия руководителя при сбое плана проекта;</span></li>
                    <li><span>картезианские вопросы;</span></li>
                    <li><span>исследование и прояснение ситуации для нахождения выхода из конфликта;</span></li>
                    <li><span>определение пути, по которому  команда должна прийти к новому комплексному решению.</span>
                    </li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 17</h4>
                <h6>Создание рабочей атмосферы для проектной команды</h6>
                <ul>
                    <li><span>четыре сферы повышенного внимания руководителя;</span></li>
                    <li><span>процесс создания четкой перспективы;</span></li>
                    <li><span>разработка важных результатов и значительных достижений;</span></li>
                    <li><span>созданием атмосферы комфорта;</span></li>
                    <li><span>необходимость участия сотрудников в смысл проекта для долгосрочного участия в нем;</span>
                    </li>
                    <li><span>обозначение акционеров;</span></li>
                    <li><span>принципы создания баланса в четырех сферах.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 18</h4>
                <h6>Подведение итогов проекта</h6>
                <ul>
                    <li><span>выбор лучшего способа подведения результатов;</span></li>
                    <li><span>After Project Review в качестве инструмента в обучении проектной команды;</span></li>
                    <li><span>короткие диалоги для  демонстрация эффективности проекта;</span></li>
                    <li><span>формат самооценки при анализе проекта;</span></li>
                    <li><span>необходимость процедуры празднования успеха;</span></li>
                    <li><span>проверочные списки для получения итогового успешного результата.</span></li>
                </ul>
            </div>

            <div class="themes__item">
                <h4>Тема 19</h4>
                <h6>Обратная связь в проекте</h6>
                <ul>
                    <li><span>шкала и показатели в процессе обратной связи;</span></li>
                    <li><span>инструменты позитивной обратной связи;</span></li>
                    <li><span>противоречия обратной связи;</span></li>
                    <li><span>возможность создания двух видов мышлений - направленное на достижение успеха и направленное на поражение.</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="mc__last">
        <div class="container">
            <div class="mc__last__inner">
                <h5>Система обучения</h5>
                <p>Программа представлена в формате онлайн встреч в Zoom . Правило подачи информации — практики больше,
                    чем теории. Без домашних заданий. Живое общение я тренерами и другими слушателями в закрытой группе
                    для
                    обмена мнениями и обсуждения лекционного материала.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}

