{% extends "base/base.html" %}
{% load static %}

{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<section class="breadcr">
    <div class="breadcr-container container">
        <p id="breadcrumbs">
            <span>
                <span>
                    <a href="/">Главная</a>
                    /
                    <a href="/programs">Программы</a>
                    /
                    <span class="breadcrumb_last" aria-current="page">Управленческий коучинг</span>
                </span>
            </span>
        </p>
    </div>
</section>


<section class="management-coaching programs-block">
    <div class="container">
        <h1>Управленческий коучинг</h1>
    </div>

    <div class="mc__effective">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 column-img">
                    <img src="{% static 'dev/img/mc-img.png' %}" alt="management-coaching">
                </div>
                <div class="col-lg-8 col-md-7 column-text">
                    <p>Эффективность любого бизнес-процесса напрямую зависит от различных процессов взаимодействия. Это
                        взаимодействие между членами коллектива или команды, потоками входящей и исходящей информации,
                        партнеров и конкурентов. Одним из наиболее существенных процессов взаимодействия является
                        система отношений руководителя и подчиненных.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__icf">
        <div class="container">
            <div class="mc-icf__inner">
                <div class="row">
                    <div class="col-md-3 column-img">
                        <img src="{% static 'dev/img/icf.png' %}" alt="icf">
                    </div>
                    <div class="col-md-9 column-text">
                        <p>«Управленческий коучинг» является составной частью большой программы, аккредитованной ACTP в
                            International Coach Federation (ICF) / Международной Федерации Коучинга от Erickson Coaching
                            International (Канада, г. Ванкувер).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__adv">
        <div class="container">
            <div class="mc-adv__inner">
                <h5>Преимущества программы «Управленческий коучинг» Erickson International:</h5>
                <p><strong>1.</strong> Программа аккредитована как ACTP (Accredited Coach Training Program -
                    Акредитованная программа подготовки коучей) в ICF (
                    International Coaching Federation - Международная Ассоциация коучей).</p>
                <p><strong>2.</strong> Тренера имеют международную аккредитацию.</p>
                <p><strong>3.</strong> Программа проходит на 5 континентах, в 85 странах, в 102 городах.</p>
                <p><strong>4.</strong> По результата прохождения Программы выпускники получают два вида Международных
                    сертификатов от Ericson International (Международный Эриксоновский Университет).</p>
                <p><strong>5.</strong> Выпускники Программы сотрудничают с крупными корпорациями по всему миру как
                    консультанты и как преподаватели коучинга.</p>

                <h6>Коучинг в управлении представляет собой содействие в совершенствовании лидерских качеств
                    руководителя, а программа управленческого коучинга предназначена для участников, настроенных на
                    результативность деятельности при обозначении сложных задач и соответствию корпоративным
                    ценностям.</h6>
            </div>
        </div>
    </div>

    <div class="mc__for-whom">
        <div class="container">
            <div class="for-whom__inner">
                <h3>Для кого программа «Управленческий коучинг»:</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Руководителя</strong> компании или подразделения, ориентированного на повышение
                            качества результатов деятельности в рамках эффективной команды;</p>
                    </div>
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Предпринимателя</strong> и владельца бизнеса, желающих расширить свой бизнес при
                            увеличении кадровой эффективности;</p>
                    </div>
                    <div class="col-lg-4">
                        <i class="material-icons">person</i>
                        <p><strong>Директоров отделов и департаментов</strong>, имеющих в подчинении коллектив
                            сотрудников, стремящегося к повышению своей квалификации;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <i class="material-icons">person</i>
                        <p><strong>Лидеров команд и управляющих проектов</strong>, заинтересованных в сплочении
                            коллектива для достижения поставленной цели;</p>
                    </div>
                    <div class="col-lg-6">
                        <i class="material-icons">person</i>
                        <p><strong>Будущих руководителей и лидеров</strong>, кто только учится методам и техникам
                            управления.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__results">
        <div class="container">
            <div class="results__inner">
                <h3>Результаты прохождения программы:</h3>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Для Руководителя</h5>
                        <p>разработать систему навыков в управлении персоналом в системе бизнес — коучинга, научиться
                            правильной постановке целей своим подчиненным с обеспечением возможности достижения
                            результата</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>Для Директоров отделов и департаментов</h5>
                        <p>научиться способствовать развитию у сотрудников самоанализа, а также обратной связи и
                            стремления
                            к совершенствованию.</p>
                    </div>
                    <div class="col-lg-6">
                        <h5>Для Предпринимателя</h5>
                        <p>достигнуть уровня ответственности всей команды в сочетании с индивидуальной инициативностью и
                            выработать способность структурировать бизнес в зависимости от изменения приоритетов.</p>
                    </div>

                    <div class="col-lg-6">
                        <h5>Для Лидеров команд и управляющих проектов </h5>
                        <p>исследовать набор управленческих инструментов, использование которых позволит управлять
                            мотивацией подчиненных и поощрять развитие приверженности коллективным ценностям;</p>
                    </div>
                    <div class="col-12">
                        <h5>Для всех участников Программы</h5>
                        <p>изучить технику специфического вида беседы в стиле «бизнес-коучинг» руководителя с
                            подчиненными;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__author">
        <div class="container">
            <div class="author__inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ma-photo" style="background-image: url('{% static 'dev/img/main/cto/cto-img.png' %}')"></div>
                    </div>
                    <div class="col-lg-9">
                        <h5>Автор программы:</h5>
                        <p>Президент Международного Эриксоновского Университета. Доктор психологии, всемирно известный
                            тренер Мэрилин Аткинсон, автор многочисленных научных работ по психологии, коучингу и
                            квантовой физики.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mc__themes-title">
        <div class="container">
            <div class="themes-title__inner">
                <h3>Программа представлена <br>7 темами.</h3>
                <p>Уникальное построение занятий предполагает освоение техник управленческого коучинга, обозначение и
                    нахождения решения конкретных задач, а также индивидуальную работу с тренером для каждого участника
                    Программы.</p>
            </div>
        </div>
    </div>

    <div class="mc__themes">
        <div class="container">
            <div class="themes__item">
                <h4>Тема 1</h4>
                <h6>Коучинг в управлении персоналом как новый стиль управления</h6>
                <ul>
                    <li><span>цели и принципы бизнес — коучинга;</span></li>
                    <li><span>причины популярности коучинга в современно мире;</span></li>
                    <li><span>результаты внедрения коучинга в мировой практике;</span></li>
                    <li><span>что определяет руководство в стиле коучинга;</span></li>
                    <li><span>как повысить уровень эффективности руководства при использовании инструментов бизнес коучинга;</span>
                    </li>
                    <li><span>основное отличие бизнес коучинга от других стилей и методов работы руководителя;</span>
                    </li>
                    <li><span>четыре этапа развития управления в стиле бизнес коучинга — четыре этапа.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 2</h4>
                <h6>Первый навык коучинга - эффективные вопросы</h6>
                <ul>
                    <li><span>изменение позиции руководителя консультанта к эксперту, который ставит вопросы;</span>
                    </li>
                    <li><span>формулировка эффективных вопросов для ориентации сотрудника на поставленную цель и заданные результаты;</span>
                    </li>
                    <li><span>техника построения системы эффективных вопросов;</span></li>
                    <li><span>полезность системы открытых вопросов;</span></li>
                    <li><span>способы построения вопросов, направленных на результат, как инструменты изменений;</span>
                    </li>
                    <li><span>построение вопросов по созданию и развитию видения в создании энергии;</span></li>
                    <li><span>система эффективных вопросов в повышении мотивации сотрудников;</span></li>
                    <li><span>создание формулировки результата: основные аспекты.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 3</h4>
                <h6>Навыки построения доверия с сотрудниками</h6>
                <ul>
                    <li><span>сущность построения отношений, основанных на доверии;</span></li>
                    <li><span>раппорт в восстановлении доверия — понятие и суть построения;</span></li>
                    <li><span>решение сложных ситуаций с использованием методов бизнес коучинга;</span></li>
                    <li><span>от жалобы к вовлеченности в выполнении задания для трех типов сотрудников;</span></li>
                    <li>
                        <span>схема разделения ответственности и принципы ее построения для руководителя и сотрудника;</span>
                    </li>
                    <li><span>слушания сотрудников руководителем — три значимые ступени.</span></li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 4</h4>
                <h6>Вопросы по логическим уровням</h6>
                <ul>
                    <li><span>построение структуры вопросов согласно иерархии, наиболее полно соответствующей  работе и восприятию человеческого мозга;</span>
                    </li>
                    <li><span>необходимость и значимость перехода от helicopter view — общего плана — к детализации задач и проекта в целом;</span>
                    </li>
                    <li><span>логические уровни в построении системы убеждения сотрудников;</span></li>
                    <li>
                        <span>возможности улучшения понимания задач подчиненными через понимание логических уровней;</span>
                    </li>
                    <li><span>оптимизация и сокращение затруднений в выполнении задачи с использованием схемы логических уровней.</span>
                    </li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 5</h4>
                <h6>Структура коучинговой сессии</h6>
                <ul>
                    <li><span>три основных элемента в построении бизнес коучинг — беседы;</span></li>
                    <li><span>SMART методы в разработке эффективного контракта;</span></li>
                    <li><span>закономерности в формулировке целей для встречи;</span></li>
                    <li><span>как спланировать время возвращения сотрудника к контракту;</span></li>
                    <li><span>шкала прояснения и разработки целей и усиление побуждения;</span>
                    </li>
                    <li><span>структура инструментов для построения видения результатов в будущем в построении системы ресурсов;</span>
                    </li>
                    <li><span>раскрытие возможности использования метафоры «матрешки» при системном обрахзовании сотрудников и побуждению их к стратегическому мышлению.</span>
                    </li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 6</h4>
                <h6>Обратная связь для создания приверженности – преодоление страха неудачи</h6>
                <ul>
                    <li><span>различные способы восприятия неудачи;</span></li>
                    <li><span>возможности совершенствования оценки собственной продуктивности в членов команды;</span>
                    </li>
                    <li><span>формирование у сотрудников возможности построения связи между его текущими действиями и результатами деятельности;</span>
                    </li>
                    <li><span>«колесо коучинга» в диагностике способностей и совершенствовании имеющихся навыков;</span>
                    </li>
                    <li><span>развитие навыков избегания «ловушек силового руководства»;</span></li>
                    <li><span>формирование высокой способности выхода за рамки неудачи;</span></li>
                    <li><span>политика обратной связи и политика поражения в формировании стратегии деятельности.</span>
                    </li>
                </ul>
            </div>
            <div class="themes__item">
                <h4>Тема 7</h4>
                <h6>Позиция коуча в руководстве людьми</h6>
                <ul>
                    <li><span>“коучинговый диалог» - идентификация и обозначение начала, середины и конца;</span></li>
                    <li>
                        <span>виды эффективных «коучинг — сессий» - по телефону, один на один, на обеде на 5 минут;</span>
                    </li>
                    <li><span>формат оборота «как если бы» в формулировке продуктивных вопросов;</span></li>
                    <li><span>движение от ясно поставленной цели к действиям, приносящим результат;</span></li>
                    <li><span>эффект самооценки в формировании эффективной политики управления;</span></li>
                    <li><span>разработка контрольного списка успехов в построении стратегии коучинга;</span></li>
                    <li>
                        <span>результативное окончание беседы — база для плана первых шагов реализации намеченных шагов;</span>
                    </li>
                    <li><span>создание и заполнение плана «личного развития навыков управления в коучинг стиле» руководителя  в процессе подведения итогов.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mc__last">
        <div class="container">
            <div class="mc__last__inner">
                <h5>Система обучения</h5>
                <p>Программа представлена в формате онлайн встреч в Zoom . Правило подачи информации — практики больше,
                    чем теории. Без домашних заданий. Живое общение я тренерами и другими слушателями в закрытой группе для
                    обмена мнениями и обсуждения лекционного материала.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}